*{
    font-family: Helvetica;
}
.main-icon img{
    width: 30px;
    height: 30px;
}
.main-icon{
    display: flex;
    align-items:center;
    gap: 5px;

}
.search-bar{
    border:2px solid gray;
    width: 50%;
    border-radius: 30px;
    border-style: none;
    border-color: gray;
    gap: 50px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0,0.9);
    margin-left: 25%;
    height: 60px;
    background-color: aqua;
}
.search-bar .search-content{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 10px;
}
.main-header nav{
    display: flex;
    justify-items:center ;
}
.search-icon{
    font-size: 10px;
    /* margin-bottom: 10px; */
    align-items: center;
    justify-content: center;
    margin-top: 10px;

}
.fa-magnifying-glass {
    background-color: rgb(0, 238, 255);
    border-radius: 100px;
    padding: 16px 17px;
    border: none;
    justify-content: center;
    align-items: center;
}
.search-bar .search-content h1:not(:nth-child(3)){
    border-right: 0 5px solid rgb(128, 128, 128);
    padding: 0 5px;
}
h1:nth-child(3){
    padding: 0 5px;
    color:gray
}
.profiles{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: 15rem;
}
.accounts{
    border: 0.5px solid gray;
    border-radius: 14px;
    padding: 5px 10px;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 5px 2px;
    align-items: center;
    color: rgb(0, 183, 255);
}
.hero-header nav{
    align-items: center;
    display: flex;
    gap: 15px;
    background-color: bisque;
}
.nav-links{
    width: 60%;
    overflow: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
    border-right: 0.2px;
    border-left: 0.2px solid gray;
    padding: 0px 5px;
    flex-direction:column ;
    box-shadow: 2px 2px 4px rgba(0, 0, 0,0.9);
    border-radius: 10px;
    background-color:bisque;
    height: 80px;
    margin-left: 10px;
}
.filters{
    display: flex;
    align-items: center;
    gap: 5px;
    border: 0.5px solid gray;
    border-radius:20px ;
    padding: 5.5px 10px;
    width: 30%;
    height: 20%;
}
.filter-links{
    display: flex;
    gap: 8px;
    margin-left: 10px;
}
.hero-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.taxes{
    display: flex;
    align-items: center;
    gap: 5px;
    border: 0.5px solid gray;
    border-radius:30px;
    padding: 2px 8px;
    width: 70%;
    height: 10%;
    font-size: 10px;
}
.card img{
    width: 230px;
    height: 150px;
    object-fit:cover ;
    border-radius: 15px;
    padding: 10px;
}
